.logo {
    color: blue;
    font-size: 32px;
    font-weight: 900px;
    padding: 30px;
    margin-left: 30px;
}

.container {
    border: 2px, solid, blue;
    height: 300px;
    width: 400px; 
}

#total-wins, #win-number {
    color: blue;
    font-size: 16px;
    text-align: center;
    padding: 20px;
}

#guesses-left, #guesses-number {
    color: blue;
    font-size: 16px;
    text-align: center;
    padding: 20px;
}

#letters, #wrong-letters, #game-board {
    color: blue;
    font-size: 16px;
    text-align: center;
    padding: 20px;
}
 .instructions {
     color: blue;
     font-size: 16px;
     margin-left: 60px;
 }
